!!!

%html
  %head

    :css
      .header1 {
      	padding: 1%;
      	width: 100%;
      	background-color: #8B0000;
      	color: white;
      	display: block;
      	margin: 0;
      }
      
      .site_name {
      	float: left;
      	width: 80%;
      }
      
      .site_name h2 {
      	margin-left: 50%;
      }
      
      .login {
      	padding-top: 1%;
      	width: 20%;
      	float: right;
      }
      
      .user_avatar {
      	height: 15%;
      	width: 15%;
      	float: left;
      	margin-left: 40%;
      	margin-right: 5%;
      }
      
      .share {
      	background-color: white;
      }
      
      .main_content {
      	margin-left: 25%
      }
      
      .content_header {
      	text-align: center;
      }
      
      .book_details {
      	width: 30%;
      	float: left;
      	margin-left: 20%;
      	display: block;
      }
      
      .book_image {
      	margin-top: 1.5%;
      	margin-right: 20%;
      	float: right;
      	width: 20%;
      	
      }
      .flash {
      	color : green
        text-align: center;
      }

      .book_pic {
      	width: 80%;
      	height: 80%;
      	border: 1px solid;
      }
      
      td {
          padding-top: 4%;
          padding-bottom: 4%;
      }
      
      .side_menu {
      	width: 25%;
      }
      
      .submit_details {
      	margin-left: 45%;
      	width: 40%;
      }
      
    = yield
